include COPYING
include CHANGELOG.md
include CONTRIBUTING.md
include README.md

recursive-include include             *.pxd
recursive-include patches             *.patch
recursive-include pytrimal/tests      *.py requirements.txt
recursive-include pytrimal/tests/data *

recursive-include vendor/trimal         README.md LICENSE AUTHORS CHANGELOG CMakeLists.txt
recursive-include vendor/trimal/source  *.cpp
recursive-include vendor/trimal/include *.h *.txt
recursive-include vendor/trimal/dataset *

recursive-include pytrimal            *.py *.pyi *.pyx *.pxd *.h py.typed
recursive-exclude pytrimal            *.cpp *.html
recursive-include pytrimal/patch      *.cpp *.h *.pxd
recursive-include pytrimal/fileobj    *.cpp *.h *.pxd
recursive-include pytrimal/impl       *.cpp *.h *.pxd
