# build dependencies
setuptools >=46.4
cython ~=3.0
scoring-matrices ~=0.2.0

# sphinx documentation dependencies
semantic_version
sphinx
recommonmark
pygments-style-monokailight
ipython
pygments
nbsphinx
ipykernel
sphinx-design
pydata-sphinx-theme

# example notebook requirements
pyhmmer
matplotlib
rich
rich-msa
