# coverage ~=6.0
cython ~=3.0
scoring-matrices ~=0.3.0
scikit-build-core
build
importlib-resources ; python_version < '3.7'
biopython ; implementation_name == 'cpython'
pyhmmer  ; platform_machine == 'x86_64'
